* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategrey;
}

h1, h2 {
    color: lightgreen;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin: 3%;

}

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    height: 30vh;
    width: 30%;
    display:flex;
    flex-direction: column;
    border: 3px dashed;
    margin: 1%;

}
article > * {
    width:90%;
    margin:0 auto;
}

h2 {
    padding: 2%;
    margin: 2% 2%;
    border: 5px solid black;
    border-radius: 10%;
    position: relative;
    margin-top: -20px;
}

pre {
    width: 80%;
    border: 1px solid;
    padding: 2%;
    border-radius: 5px;
    user-select:all;
    background: linear-gradient(to bottom, lightgreen, #ff00ff, lightslategray);
}


article:hover, article:hover h2{
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 5px lightgreen;
}

@media screen and (max-width: 992px) {
    .box {
        flex-direction: column;
      width: 50%;
    }
  }

@media screen and (max-width: 768px) {
    .box {
        display:flex;
      flex-direction: column;
      width: 100%;
    }
  }